.container{
    width: 90%;
    height: 100%;
   background-color: #CCC;
    /*background-image: url("../Img/BG.jpg");*/
    margin: 0 auto;
}
/*.head{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/
.main{
    height: 100%;
    width: 100%;
    margin-top: 100px;
}
.left{
    /*border: 1px solid red;*/
    height: 100%;
    width: 40%;
    float: left;
    margin-top: 100px;
}
.right{
    float: right;
    height: 100%;
    width: 60%;
    /*border: 1px solid blue;*/
}
.img {
    height: 350px;
    width: 1200px;
}
.table_login{

    /*border: 1px solid red;*/
    margin: 30px auto;
}
.review{
    margin-top: 30px;
    font-family: 'Syne Mono', monospace;
    font-size: 30px;
    text-align: center;
}
.review_quan{
    font-family: 'Syne Tactile', cursive;
    font-size: 15px;
    text-align: center;
}
table{
    width: 90%;
}