/* Header */
.app {
    background-color: #ccc;
}
.header {
    height: 162px;
    background-color: rgb(255 218 0);
}

.navbar-img {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 10px 0;
}
.navbar-list {
    list-style: none;
    padding-left: 0;
}
.navbar-item {
    font-size: 1.6rem;
    margin: 0 8px;
    position: relative;
}

.navbar-item, .navbar-item-link {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--black-color);
}

.navbar-item-has-list:hover .brand {
    display: block;
}

/* Brand list */

.brand {
    position: absolute;
    top: 118%;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    transform-origin: top left;
    animation: headerNotifyGrowth ease-in 0.25s;
    display: none;
}
.brand-list {
    list-style: none;
}
.brand-item {
    display: flex;
}
.brand-item:hover {
    background-color: rgb(219, 215, 215);
}
.brand-item-link {
    text-decoration: none;
    display: flex;
    width: 100%;
    padding: 12px;
    color: #615d5d;
}
.brand::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -27px;
}
.brand::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 140px;
    height: 20px;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.brand-list-header h3 {
    color: var(--black-color);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 40px;
    user-select: none;
    text-align: center;
}

/* Search */

.search {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.logo {
    width: 200px
}

.main-logo {
    width: 140px;
    padding: 10px;
    text-align: center;
    color: var(--white-color);
    background-color: rgb(5, 6, 63);
    border-radius: 20px;
    font-size: 1.5rem;
}

.search-bar {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 4px;
}
.search-input-wrap {
    flex: 1;
    height: 100%;
}

.search-button {
    background-color: rgb(255 218 0);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.search-button:hover {
    cursor: pointer;
    background-color: rgba(35, 212, 138, 0.5);
}

.search-button-icon {
    font-size: 1.5rem;
    color: var(--black-color);
}

.cart {
    width: 150px;
    text-align: center;
}

.cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.cart-wrap:hover .cart-list {
    display: block;
}

.cart-icon {
    color: var(--black-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: 0px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadein ease-in 0.2s;
    cursor: default;
}

.cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.cart-no-cart {
    width: 54%;
}
.cart-message {
    display: block;
    font-size: 1.4rem;
    margin-top: 14px;
}
.cart-list--no-cart {
    padding: 24px 0;
}


/* Container */


.big-banner a img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.bottom-banner {
    display: flex;
    justify-content: space-evenly;
}

.bottom-banner-item {
    margin-top: -92px;
}

.bottom-banner-item-img {
    border-radius: 25px;
    width: 570px;
}

.hot-brands {
    margin: 20px 0;
    padding: 0 0 30px 0;
    background-color: #ff7d76;
    border-radius: 5px;
}

.hot-brand-item {
    width: 100%;
}

.hot-brand-item-img {
    width: 100%;
}

.hot-brand-item-advertise {
    color: rgb(29, 28, 28);
    font-weight: bold;
    font-size: 32px;
    padding: 24px 24px;
}

.hot-brand-product {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hot-brand-product-item {
    background-color: white;
    width: 18%;
    padding-top: 30px;
    border-radius: 10px;
    cursor: pointer;
}


@keyframes float {
    from {
        top: 0;
    }
    to {
        top: -10px;
    }
}

.hot-brand-product-img:hover {
    width: 100%;
    position: relative;
    animation: float 0.3s forwards;
}

.hot-brand-product-img {
    width: 100%;
}

.name-product {
    color: rgb(58, 78, 190);
    font-size: 1.6rem;
    padding: 0 20px;
    text-decoration: none;
}

.price-product {
    font-size: 1.8rem;
    padding: 0 20px;
}

.price-old {
    font-size: 1.7rem;
    font-weight: 200;
    text-decoration: line-through;
}

.price-new {
    font-size: 1.8rem;
    color: red;
}

.rating-product {
    font-size: 1.8rem;
    padding: 0 20px;
}

.rating-item {
    color: #f87436;
}

/* Online pay */

.online-pay-tittle {
    font-size: 2.4rem;
    padding: 20px 10px;
    font-weight: 600;
}

.online-pay-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.online-pay-item {
    list-style: none;
}

.online-pay-img {
    border-radius: 10px;
}

/* Extra container */

.extra-container {
    width: 100%;
    margin: auto;
    background-color: antiquewhite;
    border-radius: 10px;
}

.extra-tittle {
    font-size: 3.6rem;
    font-weight: 550;
    text-align: center;
    background-color: rgb(255, 218, 0);
    padding: 30px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}

.extra-container-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.extra-container-product {
    width: 18%;
    padding-top: 20px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.extra-container-img {
    width: 100%;
}

.extra-container-img:hover {
    width: 100%;
    position: relative;
    animation: float 0.2s forwards;
}

.extra-name-product {
    font-size: 1.5rem;
    padding-left: 20px;
    color: #3a4ebe;
}
.extra-price-old {
    font-size: 1.7rem;
    font-weight: 200;
    text-decoration: line-through;
    padding-left: 20px;
}
.extra-price-new {
    font-size: 1.8rem;
    color: red;
    padding-left: 20px;
}
.extra-rating-product {
    font-size: 1.8rem;
    padding: 0 20px;
}

.extra-container-button {
    text-decoration: none;
    font-size: 2.0rem;
    padding: 20px 30px;
    background-color: white;
    border-radius: 30px;
}


/* Footer */

.first-footer {
    display: flex;
    padding: 10px 0;
    background-color: white;
    margin: 20px 0 0 0;
}
.first-footer-item {
    flex: 1;
    text-align: center;
}

.first-footer-img {
    width: 12%;
}

.first-footer-content {
    color: var(--text-color);
    font-size: 1.6rem;
}

.second-footer {
    background-color: white;
    display: flex;
    justify-content:space-around;
}

.second-footer-item {
    width: 40%;
}

.second-footer-item > h1 {
    text-align: center;
    font-size: 3.0rem;
    font-weight: 500;
}

.second-footer-item > p {
    font-size: 1.5rem;
    line-height: 4.0rem;
    font-weight: 400;
}

.footer-logo {
    display: flex;
    justify-content: space-around;
}

.footer-logo-item {
    width: 10%;
}

.footer-logo-img {
    width: 100%;
}